.btc-message {
  position: relative;

  margin-top: px(30);

  .block-message {
    position: relative;

    box-sizing: border-box;

    width: px(280);
    height: px(400);

    margin-top: px(10);

    .area-before-load {
      position: absolute;

      width: 100%;
      height: 100%;

      left: 0;
      top: 0;

      background-color: #eee;

      .text {
        position: absolute;
        left: 0;
        top: 45%;

        width: 100%;

        text-align: center;
      }
    }

    .main-message {
      display: none;

      position: absolute;

      width: 100%;
      height: 100%;

      left: 0;
      top: 0;

      background-image: url(../img/message-template.png);
      background-size: px(280);

      .to {
        vertical-align: bottom;

        position: absolute;

        left: px(35);
        top: px(35);

        width: px(160);
        height: px(20);
      }

      .body {
        box-sizing: border-box;

        vertical-align: bottom;

        position: absolute;

        left: px(35);
        top: px(80);

        width: px(225);
        height: px(255);

        padding: 0 px(10);

        line-height: px(42);
      }

      .from {
        vertical-align: bottom;

        position: absolute;

        left: px(35);
        top: px(350);

        width: px(225);
        height: px(30);

        line-height: px(30);
      }
    }
  }
}
