@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.btc-list-share {
  position: static; }
  .btc-list-share .list {
    font-size: 0;
    vertical-align: top; }
  .btc-list-share .item {
    display: inline-block; }
    .btc-list-share .item + .item {
      margin-left: 5px;
      margin-left: 0.05rem; }

.btc-message {
  margin-top: 20px;
  margin-top: 0.2rem; }
  .btc-message .block-message {
    box-sizing: border-box;
    width: 610px;
    width: 6.1rem;
    height: 377px;
    height: 3.77rem;
    margin-top: 10px;
    margin-top: 0.1rem;
    background-color: #eee;
    border-radius: 0.1rem; }
    .btc-message .block-message .to {
      padding: 10px;
      padding: 0.1rem; }
    .btc-message .block-message .body {
      padding: 10px;
      padding: 0.1rem; }

.display-none {
  display: none; }

html.is-pc .pc-none {
  display: none; }

html.is-sp .sp-none {
  display: none; }

body {
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif;
  line-height: 1.5; }
  html.is-sp body {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-pc body {
    font-size: 15px;
    font-size: 0.15rem; }

html {
  font-size: 100px; }
  html.is-sp html {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-pc html {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-tab html {
    font-size: 15px;
    font-size: 0.15rem; }

body {
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif; }
  html.is-sp body {
    font-size: 15px;
    font-size: 0.15rem;
    line-height: 1.5; }
  html.is-pc body {
    font-size: 15px;
    font-size: 0.15rem;
    line-height: 1.5; }

main {
  display: block; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: inherit; }

.hide-display {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  transform: scale(0);
  -webkit-transform: scale(0); }

sup {
  vertical-align: super;
  font-size: smaller; }

i {
  font-style: italic; }

.heading {
  font-size: 20px;
  font-size: 0.2rem; }

html.is-sp .wrapper {
  overflow: hidden; }

html.is-pc .wrapper {
  width: 100%;
  min-width: 1200px;
  min-width: 12rem;
  overflow: hidden; }

.page-index .card {
  position: relative;
  width: 512px;
  width: 5.12rem;
  height: 512px;
  height: 5.12rem; }
  .page-index .card .image svg {
    width: 100%;
    height: 100%; }

.page-index .sec-message {
  margin-top: 20px;
  margin-top: 0.2rem; }

.page-index .sec-special-message {
  margin-top: 20px;
  margin-top: 0.2rem; }

.page-index .sec-info {
  margin-top: 20px;
  margin-top: 0.2rem; }

.page-index .message {
  position: relative;
  margin-top: 100px;
  margin-top: 1rem; }

.page-index .author {
  margin-top: 20px;
  margin-top: 0.2rem; }

.page-index .btc-list-share {
  margin-top: 20px;
  margin-top: 0.2rem; }
