.page-index {
  .card {
    position: relative;

    width: px(512);
    height: px(512);

    .image {
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .sec-message {
    margin-top: px(120);
  }

  .sec-special-message {
    margin-top: px(20);
  }

  .sec-info {
    margin-top: px(20);
  }

  .message {
    position: relative;

    margin-top: px(100);
  }

  .author {
    margin-top: px(20);
  }

  .btc-list-share {
    margin-top: px(20);
  }
}
