html {
  font-size: 20px;
  font-size: calc(100vw / 320 * 10);
}

section > h2 {
  font-size: 28px;
  margin: 0 0 10px;
}

section > section > h2 {
  font-size: 20px;
  margin: 0 0 10px;
}

section {
  margin: 20px 0;
}

.hide-display {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
}

.wrapper {
  width: 32rem;
  max-width: 640px;
}

.message {
  position: relative;
  padding: 1rem;
  line-height: 1.4;

  font-size: 14px;
}

.message p + p{
  margin-top: 1rem;
}

.share {
  margin: 1rem;
}

.share li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-bottom: 0.5rem;
}