@keyframes rotate-reel-1 {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 2048px;
  }
}

@keyframes rotate-reel-2 {
  0% {
    background-position: -64px 0;
  }

  100% {
    background-position: -64px 2048px;
  }
}

@keyframes rotate-reel-3 {
  0% {
    background-position: -128px 0;
  }

  100% {
    background-position: -128px 2048px;
  }
}

@keyframes rotate-reel-4 {
  0% {
    background-position: -192px 0;
  }

  100% {
    background-position: -192px 2048px;
  }
}

html {
  font-size: 100px;
}

body {
  font-size: 0.1rem;
}

.reel {
  display: inline-block;

  position: relative;

  width: 64px;
  height: 64px;

  background-image: url("../img/reel.png");
}

.reel:nth-of-type(1) {
  background-position: 0px 0;
}

.reel:nth-of-type(2) {
  background-position: -64px 0;
}

.reel:nth-of-type(3) {
  background-position: -128px 0;
}

.reel:nth-of-type(4) {
  background-position: -192px 0;
}

.slot[data-is-playing="true"] .reel {
  background-image: url("../img/reel-blur.png");
}

.slot[data-is-playing="true"] .reel {
}

.slot[data-is-playing="true"] .reel:nth-of-type(1) {
  animation: rotate-reel-1 1s linear 0s infinite;
  animation-delay: -0.2s;
}

.slot[data-is-playing="true"] .reel:nth-of-type(2) {
  animation: rotate-reel-2 1s linear 0s infinite;
  animation-delay: -0.1s;
}

.slot[data-is-playing="true"] .reel:nth-of-type(3) {
  animation: rotate-reel-3 1s linear 0s infinite;
  animation-delay: -0.4s;
}

.slot[data-is-playing="true"] .reel:nth-of-type(4) {
  animation: rotate-reel-4 1s linear 0s infinite;
  animation-delay: -0.3s;
}
