@import "compass/reset";
@import "compass/css3";
$white: #fff;
$red: #f30;
$white2: #fc9;
$red2: #f63;

.btn-base {
	font-size: 25px;
	.btn-inner {
		padding: 5px;
		@include border-radius(5px);
		cursor: pointer;
	}

	.gozen & .btn-inner {
		@include single-box-shadow($red, 3px, 3px, 0);
		background-color: $white;
		// hoverを使うと戻るボタンで片方ずつしか反応しないのでもしやるならmouseoverで.hoverクラスを付ける
		//&:hover {
		//	background-color: $white2;
		//}
	}
	.gogo & .btn-inner {
		@include single-box-shadow($white, 3px, 3px, 0);
		background-color: $red;
		//&:hover {
		//	background-color: $red2;
		//}
	}
}


html, body {
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.clock svg {
	position: absolute;
	top: 50%;
	margin-top: -150px;
	//background-image: url(img/clock.svg);
	//width: 90%;
	//height: 90%;
	//background-size: 100% 100%;
	//background-repeat: no-repeat;
}

.left-half .bg {
	position: absolute;
	width: 50%;
	height: 100%;
	min-height: 300px;
	left: 50%;
}

.right-half .bg {
	position: absolute;
	width: 50%;
	height: 100%;
	min-height: 300px;
	left: 0%;
}

.gozen {
	.bg {
		background-color: $red;
	}
	.clock svg, .box-text, .correct, .incorrect, .box-achievement {
		clip: rect(0 300px 300px 150px); // clipが%指定に対応していないので、サイズがわかっている内部のみに指定
	}
}

.gogo {
	.bg {
		background-color: $white;
	}
	.clock svg, .box-text, .correct, .incorrect, .box-achievement {
		clip: rect(0 150px 300px 0);
	}
}

.clock svg {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 50%;
	margin-left: -150px;
}

.gozen {
	.clock {
		line {
			stroke: $red;
		}
		circle, path {
			fill: $red;
		}
		#base circle {
			fill: $white;
		}
		#hands line {
			stroke: $red2;
		}
	}
	.box-text, .box-achievement {
		color: $red;
	}
}

.gogo {
	.clock {
		line {
			stroke: $white;
		}
		circle, path {
			fill: $white;
		}
		#base circle {
			fill: $red;
		}
		#hands line {
			stroke: $white2;
		}
	}
	.box-text, .box-achievement {
		color: $white;
	}
}

.box-text {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	margin-top: -150px;
	border-radius: 150px;

	text-align: center;
	font-size: 10px;
	line-height: 16px;
	.question {
		font-size: 14px;
		margin-top: 40px;
	}

	.area-question {
		position: absolute;
		width: 100%;
		height: 100%;

		.question {
			position: absolute;
			top: 0;
			left: 50%;
			width: 300px;
			margin-left: -150px;
		}

		.btn {
			@extend .btn-base;
			position: absolute;
			bottom: 80px;
			&.btn-gozen {
				width: 50%;
				left: 20px;
			}
			&.btn-gogo {
				width: 50%;
				right: 20px;
			}
		}
	}

	.area-education {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;

		.heading {
			position: absolute;
			top: 30px;
			left: 50%;
			width: 100%;
			margin-left: -50%;

			font-size: 20px;
			line-height: 20px;
		}
		.text {
			position: absolute;
			top: 60px;
			width: 100%;
			left: 50%;
			margin-left: -50%;
			a {
				color: inherit;
			}
		}
		.btn {
			@extend .btn-base;
			position: absolute;
			bottom: 50px;
			width: 100%;
			left: 50%;
			margin-left: -50%;
		}
	}
}

.correct, .incorrect {
	display: none;
	position: absolute;
	width: 300px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;

	.inner {
		font-size: 36px;

		line-height: 300px;
		text-align: center;

		.gozen & {
			color: $red;
		}
		.gogo & {
			color: $white;
		}
	}
}

.box-achievement {
	display: none;
	position: absolute;
	width: 300px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;

	p {
		position: absolute;
		top: 80px;
		left: 50%;
		margin-left: -50%;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 14px;
		line-height: 20px;
	}
	audio {
		position: absolute;
		width: 220px;
		height: 50px;
		left: 50%;
		bottom: 90px;
		margin-left: -110px;
	}
}

.box-text {
	.area-lp-content {
		@extend .area-education;
		display: block;
		.text {
			font-size: 12px;
			line-height: 16px;
		}
		.btn {
			bottom: 70px;
			a {
				color: inherit;
				text-decoration: inherit;
			}
		}
	}
}