@import "compass/reset";
@import "compass/css3";
$white: #fff;
$red: #f30;
$white2: #f96; //#fc9;
$red2: #f96; //#f63;

.btn-base {
	font-size: 25px;
	.btn-inner {
		padding: 5px;
		@include border-radius(5px);
		cursor: pointer;
	}

	.gozen & .btn-inner {
		@include single-box-shadow($red, 3px, 3px, 0);
		background-color: $white;
		// hoverを使うと戻るボタンで片方ずつしか反応しないのでもしやるならmouseoverで.hoverクラスを付ける
		//&:hover {
		//	background-color: $white2;
		//}
	}
	.gogo & .btn-inner {
		@include single-box-shadow($white, 3px, 3px, 0);
		background-color: $red;
		//&:hover {
		//	background-color: $red2;
		//}
	}
	a {
		color: inherit;
		text-decoration: inherit;
	}
}


html, body {
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 100%;
	height: 100%;
	min-height: 400px;
}

.logo {
	position: absolute;
	width: 300px;
	height: 400px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -200px;
	text-indent: -9999px;
}

.clock {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;
	width: 300px;
	height: 300px;
}

.left-half {
	.bg {
		position: absolute;
		width: 50%;
		height: 100%;
		min-height: 400px;
		left: 50%;
		z-index: -1;
	}
	.logo, .clock, .box-text, .correct, .incorrect, .box-achievement {
		clip: rect(0 150px 300px 0);
	}
}

.right-half {
	.bg {
		position: absolute;
		width: 50%;
		height: 100%;
		min-height: 400px;
		left: 0%;
		z-index: -1;
	}
	.logo, .clock, .box-text, .correct, .incorrect, .box-achievement {
		clip: rect(0 300px 300px 150px); // clipが%指定に対応していないので、サイズがわかっている内部のみに指定
	}
}

.gozen {
	.bg {
		background-color: $red;
	}
}

.gogo {
	.bg {
		background-color: $white;
	}
}

.clock svg {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 50%;
	margin-left: -150px;
}

.gozen {
	.logo {
		background-image: url(../img/logo_white.svg);
	}
	.clock {
		line {
			stroke: $red;
		}
		circle, path {
			fill: $red;
		}
		.base circle {
			fill: $white;
		}
		.hands line {
			stroke: $red2;
		}
	}
	.box-text, .box-achievement {
		color: $red;
	}
}

.gogo {
	.logo {
		background-image: url(../img/logo_red.svg);
	}
	.clock {
		line {
			stroke: $white;
		}
		circle, path {
			fill: $white;
		}
		.base circle {
			fill: $red;
		}
		.hands line {
			stroke: $white2;
		}
	}
	.box-text, .box-achievement {
		color: $white;
	}
}

.box-text {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	margin-top: -150px;
	border-radius: 150px;

	text-align: center;
	font-size: 10px;
	line-height: 16px;
	.question {
		font-size: 14px;
		margin-top: 40px;
	}

	.area-question {
		position: absolute;
		width: 100%;
		height: 100%;

		.question {
			position: absolute;
			top: 0;
			left: 50%;
			width: 300px;
			margin-left: -150px;
		}

		.btn {
			@extend .btn-base;
			position: absolute;
			bottom: 80px;
			&.btn-gozen {
				width: 50%;
				left: 20px;
			}
			&.btn-gogo {
				width: 50%;
				right: 20px;
			}
		}
	}

	.area-education {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;

		.heading {
			position: absolute;
			top: 30px;
			left: 50%;
			width: 100%;
			margin-left: -50%;

			font-size: 20px;
			line-height: 20px;
		}
		.text {
			position: absolute;
			top: 60px;
			width: 100%;
			left: 50%;
			margin-left: -50%;
			a {
				color: inherit;
			}
		}
		.btn {
			@extend .btn-base;
			position: absolute;
			bottom: 50px;
			width: 100%;
			left: 50%;
			margin-left: -50%;
		}
	}
}

.correct, .incorrect {
	display: none;
	position: absolute;
	width: 300px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;

	.inner {
		font-size: 36px;

		line-height: 300px;
		text-align: center;

		.gozen & {
			color: $red;
		}
		.gogo & {
			color: $white;
		}
	}
}

.box-achievement {
	display: none;
	position: absolute;
	width: 300px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;

	.text {
		position: absolute;
		top: 80px;
		left: 50%;
		margin-left: -50%;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 14px;
		line-height: 20px;
	}
	.btn {
		@extend .btn-base;
		position: absolute;
		bottom: 50px;
		width: 100%;
		left: 50%;
		margin-left: -50%;
		text-align: center;
	}
}
.box-achievement.overlay {
	height: 50px;
	top: 50%;
	margin-top: 10px;
	audio {
		position: absolute;
		width: 220px;
		height: 50px;
		left: 50%;
		top: 0;
		margin-left: -110px;
	}
}

.box-text {
	.area-lp-content {
		@extend .area-education;
		display: block;
		.text {
			font-size: 10px;
			line-height: 16px;
		}
		.btn {
			bottom: 70px;
		}
	}
}

.social {
	position: fixed;
	bottom: 10px;

	width: 100%;
	text-align: center;
	li {
		display: inline-block;
	}
}